<template>
 <div style="margin: 10px">
   <br>
    <h1>ติดต่อ</h1>
    <p><b> {{ Pnut.name }} สำนักงานคณบดี คณะวิทยาการสารสนเทศ <br>
    ชั้น ๕ อาคารสิรินธร ๑๖๙ ถ.ลงหาดบางแสน ต.แสนสุข อ.เมือง จ.ชลบุรี <br>
    ๒๐๑๓๑ โทร: ๐-๓๘๑๐-๒๐๔๔ ต่อ ๒๔ แฟ็กซ์: ๐-๓๘๓๙-๓๒๔๕ <br>
    อีเมล์: kamonwans@buu.ac.th</b></p>
อาจารย์ที่ปรึกษาโครงการ
      <b-table borderless small :items="usersList" :fields="fields" style="width:500px">
      </b-table>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  data () {
    return {
      Pnut: '',
      usersList: [
      ],
      fields: [
        { key: 'name', label: '' },
        { key: 'email', label: '' }
      ]
    }
  },
  methods: {
    professorContact () {
      axios.get('http://localhost:3000/users')
        .then(res => {
          this.usersList = []
          const list = res.data
          for (let i = 0; i < list.length; i++) {
            if (list[i].type === 'professor') {
              console.log(list[i])
              this.usersList.push(list[i])
            }
          }
        })
        .catch(err => {
          console.log(err)
        })
    },
    getPnut () {
      axios.get('http://localhost:3000/users/5e8b7faf1c9d4400002589db')
        .then(res => {
          this.Pnut = res.data
          console.log(res)
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  mounted () {
    this.professorContact()
    this.getPnut()
  }
}
</script>
