<template>
<div>
  <br>
  <h2>เข้าสู่ระบบ</h2><br>
  <b-card style="width: 95%;">
    <!-- Card body -->
    <b-card-body>
      <b-form @submit.prevent="login">
        <b-alert v-model="showAlert" variant="danger" >Username หรือ Password ผิด!</b-alert>

        <b-form-group>
          <b-form-input required v-model="username" :state="validationUsername"></b-form-input>
          <b-form-invalid-feedback :state="validationUsername">Username ต้องไม่น้อยกว่า 4 ตัวอักษร และไม่เกิน 10 ตัวอักษร</b-form-invalid-feedback>
          <!-- <b-form-valid-feedback :state="validationUsername">ถูกต้อง</b-form-valid-feedback> -->
        </b-form-group>

        <b-form-group>
          <b-form-input required v-model="password" :state="validationPassword"></b-form-input>
          <b-form-invalid-feedback :state="validationPassword">Password ต้องไม่น้อยกว่า 4 ตัวอักษร และไม่เกิน 20 ตัวอักษร</b-form-invalid-feedback>
          <!-- <b-form-valid-feedback :state="validationPassword">ถูกต้อง</b-form-valid-feedback> -->
        </b-form-group>
        <b-button :disabled="!validationUsername || !validationPassword"  variant="success" type="submit" @click="showAlert" >เข้าสู่ระบบ</b-button>

      </b-form>
    </b-card-body>
  </b-card>
</div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'login',
  data () {
    return {
      username: '',
      password: '',
      type: '',
      showAlert: false
    }
  },
  computed: {
    validationUsername () {
      return this.username.length > 3 && this.username.length < 21
    },
    validationPassword () {
      return this.password.length > 3 && this.password.length < 21
    }
  },
  methods: {
    login () {
      console.log(this.username)
      console.log(this.password)
      let user = {
        username: this.username,
        password: this.password
      }
      axios.post('http://localhost:3000/login', user)
        .then(res => {
          console.log(res)
          if (res.status === 200) {
            localStorage.setItem('token', res.data.token)
            this.$emit('menutypy', res.data.type)
            console.log(res.data.type)
            if (res.data.type === 'professor') {
              this.$router.push('/professor')
            } else if (res.data.type === 'student') {
              this.$router.push('/student')
            } else {
              this.$router.push('/professor')
            }
          }
        }, err => {
          this.showAlert = true
          console.log(err.res)
        })
    }
  }
}
</script>
