<template>
  <div>
    <b-nav vertical>
        <b-button-group vertical>
        <b-button variant="dark">เมนูหลัก</b-button>
        <b-button variant="light">หน้าหลัก</b-button>
        <b-button variant="light" @click="Menu('menutypy')"><router-link to="/Login">เข้าสู่ระบบ</router-link></b-button>
        <!-- <b-button variant="light">ออกจากระบบ</b-button>
        <b-button variant="light">จัดการบัญชีผู้ใช้</b-button> -->
        <b-button variant="light"><router-link to="/Form">แบบฟอร์มเอกสาร</router-link></b-button>
        <b-button variant="light"><router-link to="/About">เกี่ยวกับสหกิจศึกษา</router-link></b-button>
        <b-button variant="light"><router-link to="/Contact">ติดต่อ</router-link></b-button>
        <!-- <b-button variant="light"><router-link to="/Announce">จัดการประกาศ</router-link></b-button> -->
        </b-button-group>
    </b-nav>
  </div>
</template>
<script>
export default {

}
</script>
